.app__program {
    background: var(--primary-dark);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.app__program-image_container {
    position: relative;
    align-self: center;
    display: flex;
    margin-bottom: -11rem;
    z-index: 0;
}

.app__program-image_container .main__img {
    justify-self: center;
    z-index: 1;
}

.app__program-image_container .right__img {
    align-self: center;
    margin-left: -14rem;
    z-index: 2;
}

.app__program-content {
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.app__program-content_heading {
    color: var(--primary-title);
    margin-bottom: 3rem;
}

.app__program-content_text {
    color: var(--secondary-title);
    margin-bottom: 3rem;
}

.app__program-content_button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.app__program-content_button .hover {
    display: none;
}

.app__program-content_button button {
    background: none;
    border: none;
    color: var(--color-primary);
    font-family: var(--font-alt);
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 600;
}

.app__program-content_button:hover .nonhover {
    display: none;
}

.app__program-content_button:hover .hover {
    display: block;
}

.app__program-content_button:hover button {
    color: var(--color-secondary);
}

@media screen and (max-width: 1300px) {
    .app__program-image_container .main__img {
        width: 650px;
        height: 350px;
    }

    .app__program-image_container .right__img {
        width: 150px;
        height: 250px;
        margin-left: -7rem;
    }
}

@media screen and (max-width: 850px) {
    .app__program-image_container {
        margin-bottom: 5rem;
    }

    .app__program-image_container .main__img {
        width: 600px;
        height: 290px;
    }

    .app__program-image_container .right__img {
        width: 125px;
        height: 220px;
        margin-left: -5.5rem;
    }
}

@media screen and (max-width: 650px) {
    .app__program-image_container .main__img {
        width: 275px;
        height: 130px;
    }

    .app__program-image_container .right__img {
        width: 65px;
        height: 100px;
        margin-left: -3rem;
    }

    .app__program-content_heading h2 {
        font-size: 36px;
        line-height: 44px;
    }

    .app__program-content_text p {
        font-size: 14px;
        line-height: 16px;
    }

    .app__program-content_text p br {
        display: none;
    }
}

@media screen and (max-width: 350px) {
    .app__program-image_container .main__img {
        width: 175px;
        height: 100px;
    }

    .app__program-image_container .right__img {
        width: 45px;
        height: 60px;
        margin-left: -2rem;
    }
}


