@import url('//db.onlinewebfonts.com/c/2f56ec659663c922a1a776c3a3760529?family=Ginra+Sans');

:root {
    --font-base: 'Ginra Sans', sans-serif;
    --font-alt: 'Open Sans', sans-serif;

    --primary-dark: #101010;
    --secondary-dark: #232526;
    --tertiary-dark: #30363A;
    --pattern-dark: #000000;

    --primary-title: #F4F4F4;
    --secondary-title: #B8B8B8;
    --color-primary: #99A9FF;
    --color-secondary: #5CE4CF;

    --gradient-angular: conic-gradient(from 180deg at 50% 50%, #66FFE6 -160.13deg, #8093FF 42.37deg, #66FFE6 199.87deg, #8093FF 402.37deg);
    --gradient-linear: linear-gradient(90deg, rgba(128, 147, 255, 0) 0%, #7D9BFA 21.14%, #60DBD4 78.8%, rgba(92, 228, 207, 0) 100%);
    --linear-full: linear-gradient(90deg, #7D9BFA 0%, #60DBD4 99.81%);

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }
  
  a {
    color: unset;
    text-decoration: none;
  }
  
  .slide-bottom {
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-25%);
              transform: translateY(-25%);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-25%);
              transform: translateY(-25%);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }